@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'open sans', sans-serif;
}

.menu > a{
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu > a:hover{
    background-color: theme('colors.red.500');   
}

.whiteShadow{
    filter: drop-shadow(0px 0px 10px white);
}