@tailwind base;
@tailwind components;
@tailwind utilities;

.menu > a:hover{
    background-color: theme('colors.red.500');
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}